@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
 
  body {
    @apply bg-background text-foreground;
  }
} */

@layer utilities {

  /* custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#007aff ;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: #555;
  }

}
